*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font: inherit;
  scroll-behavior: smooth;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Ubuntu";
  src: url("../sass/fonts/ubuntu-regular-webfont.eot");
  src: url("../sass/fonts/ubuntu-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../sass/fonts/ubuntu-regular-webfont.woff") format("woff"), url("../sass/fonts/ubuntu-regular-webfont.woff2") format("woff2"), url("../sass/fonts/ubuntu-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ubuntu";
  src: url("../sass/fonts/ubuntu-bold-webfont.eot");
  src: url("../sass/fonts/ubuntu-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../sass/fonts/ubuntu-bold-webfont.woff") format("woff"), url("../sass/fonts/ubuntu-bold-webfont.woff2") format("woff2"), url("../sass/fonts/ubuntu-bold-webfont.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
.nav__link {
  position: relative;
  transition: color 0.3s;
  z-index: 0;
}
.nav__link::after {
  content: "";
  position: absolute;
  left: -5%;
  bottom: 5%;
  height: 3px;
  width: 110%;
  background-color: #fcc900;
  transition: height 0.3s;
  z-index: -1;
}
.nav__link:hover {
  color: #dedede;
}
.nav__link:hover::after {
  height: 40px;
}

@media (min-width: 992px) {
  .nav__link::after {
    bottom: 18%;
  }
}
@keyframes mobileNav {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-family: "Ubuntu", sans-serif;
  background-color: #dedede;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: sticky;
  top: 0;
  height: 60px;
  grid-column: 1/-1;
  z-index: 1;
}
.nav__links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  width: 100%;
  height: 100vh;
  height: 100svh;
  background-color: rgba(222, 222, 222, 0.9450980392);
  transition: transform 0.5s;
}
.nav__link {
  margin: 2em 0;
  padding: 0.5em 0.1em;
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: -0.05em;
  color: #333129;
}
.nav__btn {
  height: 100%;
  padding: 0.8em;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  background-color: rgba(222, 222, 222, 0.9450980392);
  z-index: 2;
}
.nav__burger-bars {
  height: 100%;
}
.nav__active {
  transform: translateX(0);
}

.header {
  grid-column: 1/-1;
  overflow: hidden;
  z-index: 0;
}
.header__title {
  position: relative;
  padding: 4em 0 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 2rem;
  letter-spacing: -0.1em;
}
.header__title::after, .header__title::before {
  content: "";
  position: absolute;
  top: 90%;
  height: 5px;
  width: 80px;
  background-color: #fcc900;
}
.header__title::after {
  transform: translateX(10px);
}
.header__title::before {
  transform: translateX(-90px);
}
.header__subtitle {
  padding: 0 0.5em 6em;
  text-transform: uppercase;
  text-align: center;
  font-size: 1rem;
  letter-spacing: -0.09em;
}
.header__text-box {
  margin: 0 auto;
  padding: 0 1em;
  max-width: 1200px;
}
.header__text {
  margin-bottom: 1em;
  line-height: 1.1em;
  letter-spacing: -0.05em;
  color: rgba(67, 67, 67, 0.9803921569);
}
.header__highlighted {
  font-weight: bold;
  color: #333129;
}

.aside {
  display: none;
}

.main {
  grid-column: 1/-1;
}
.main .section {
  padding: 0 1em;
  margin: 2em auto 0;
  max-width: 1200px;
}
.main .section__title {
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: -0.09em;
}
.main .section__title::after, .main .section__title::before {
  content: "";
  position: absolute;
  height: 4px;
  width: 40px;
  background-color: #fcc900;
}
.main .section__title::after {
  transform: translate(5px, 7px);
}
.main .section__title::before {
  transform: translate(-45px, 7px);
}
.main__card-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 1em;
}
.main__card {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background-color: #fff;
  border-radius: 3em;
}

@media (min-width: 576px) {
  .header__title {
    padding: 2em 0 0;
    font-size: 2.5rem;
    letter-spacing: -0.2rem;
  }
  .header__title::after, .header__title::before {
    top: 83%;
    width: 100px;
  }
  .header__title::after {
    transform: translateX(15px);
  }
  .header__title::before {
    transform: translateX(-115px);
  }
  .header__subtitle {
    padding-bottom: 3em;
    font-size: 1.2rem;
    letter-spacing: -0.1rem;
  }
  .header__text-box {
    padding: 0 2.5em;
  }
  .main .section__title {
    font-size: 1.3rem;
  }
  .main .section__title::after, .main .section__title::before {
    width: 45px;
  }
  .main .section__title::after {
    transform: translate(7px, 7px);
  }
  .main .section__title::before {
    transform: translate(-50px, 7px);
  }
}
@media (min-width: 768px) {
  .header__title {
    font-size: 3rem;
    letter-spacing: -0.3rem;
  }
  .header__title::after, .header__title::before {
    width: 130px;
  }
  .header__title::after {
    transform: translateX(20px);
  }
  .header__title::before {
    transform: translateX(-150px);
  }
  .header__subtitle {
    font-size: 1.4rem;
  }
  .header__text-box {
    padding: 0 3.5em;
  }
  .main .section__title {
    font-size: 1.5rem;
  }
  .main .section__title::after, .main .section__title::before {
    width: 50px;
  }
  .main .section__title::after {
    transform: translate(10px, 9px);
  }
  .main .section__title::before {
    transform: translate(-60px, 9px);
  }
}
@media (min-width: 992px) {
  body {
    grid-template-columns: 200px 1fr 200px;
  }
  .nav__links {
    justify-content: space-evenly;
    flex-direction: row;
    transform: translateX(0);
    height: 100%;
  }
  .nav__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 0.1em;
  }
  .nav__btn {
    display: none;
  }
  .header__title {
    font-size: 4rem;
    letter-spacing: -0.4rem;
  }
  .header__title::after, .header__title::before {
    width: 150px;
  }
  .header__title::after {
    transform: translateX(30px);
  }
  .header__title::before {
    transform: translateX(-180px);
  }
  .header__subtitle {
    font-size: 1.6rem;
  }
  .header__text-box {
    padding: 0 1.5em;
  }
  .header__text {
    font-size: 1.2rem;
    line-height: 1.3em;
  }
  .aside {
    display: block;
  }
  .aside__left {
    grid-column: 1/2;
  }
  .aside__right {
    grid-column: -2/-1;
  }
  .main {
    grid-column: 2/-2;
  }
  .main .section__title {
    font-size: 1.7rem;
  }
  .main .section__title::after, .main .section__title::before {
    height: 5px;
    width: 60px;
  }
  .main .section__title::after {
    transform: translate(10px, 10px);
  }
  .main .section__title::before {
    transform: translate(-70px, 10px);
  }
}/*# sourceMappingURL=main.css.map */