@use 'reset' as *;
@use 'fonts' as *;
@use 'colors' as *;
@use 'components' as *;
@use 'animations' as *;

// -------------------MOBILE-------------------

body {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	font-family: 'Ubuntu', sans-serif;
	background-color: $fourth;
}

// NAVIGATION
.nav {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	position: sticky;
	top: 0;
	height: 60px;
	grid-column: 1/-1;
	z-index: 1;

	&__links {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		position: absolute;
		top: 0;
		left: 0;
		transform: translateX(-100%);
		width: 100%;
		height: 100vh;
		height: 100svh;
		background-color: $fourth-shadow;
		transition: transform 0.5s;
	}

	&__link {
		margin: 2em 0;
		padding: 0.5em 0.1em;
		font-size: 1.4rem;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: -0.05em;
		color: $secondary;
	}

	&__btn {
		height: 100%;
		padding: 0.8em;
		border-top-left-radius: 50%;
		border-bottom-left-radius: 50%;
		background-color: $fourth-shadow;
		z-index: 2;
	}

	&__burger-bars {
		height: 100%;
	}

	&__active {
		transform: translateX(0);
	}
}

// HEADER
.header {
	grid-column: 1/-1;
	overflow: hidden;
	z-index: 0;

	&__title {
		position: relative;
		padding: 4em 0 0;
		text-transform: uppercase;
		text-align: center;
		font-size: 2rem;
		letter-spacing: -0.1em;

		&::after,
		&::before {
			content: '';
			position: absolute;
			top: 90%;
			height: 5px;
			width: 80px;
			background-color: $primary;
		}

		&::after {
			transform: translateX(10px);
		}

		&::before {
			transform: translateX(-90px);
		}
	}

	&__subtitle {
		padding: 0 0.5em 6em;
		text-transform: uppercase;
		text-align: center;
		font-size: 1rem;
		letter-spacing: -0.09em;
	}

	&__text-box {
		margin: 0 auto;
		padding: 0 1em;
		max-width: 1200px;
	}

	&__text {
		margin-bottom: 1em;
		line-height: 1.1em;
		letter-spacing: -0.05em;
		color: $third;
	}

	&__highlighted {
		font-weight: bold;
		color: $secondary;
	}
}

// ASIDE
.aside {
	display: none;
}

// MAIN
.main {
	grid-column: 1/-1;

	.section {
		padding: 0 1em;
		margin: 2em auto 0;
		max-width: 1200px;

		&__title {
			font-size: 1.1rem;
			font-weight: bold;
			text-transform: uppercase;
			text-align: center;
			letter-spacing: -0.09em;
			&::after,
			&::before {
				content: '';
				position: absolute;
				height: 4px;
				width: 40px;
				background-color: $primary;
			}

			&::after {
				transform: translate(5px, 7px);
			}

			&::before {
				transform: translate(-45px, 7px);
			}
		}
	}
}

// FOOTER

// -------------------SMALL-------------------

@media (min-width: 576px) {
	// HEADER
	.header {
		&__title {
			padding: 2em 0 0;
			font-size: 2.5rem;
			letter-spacing: -0.2rem;

			&::after,
			&::before {
				top: 83%;
				width: 100px;
			}

			&::after {
				transform: translateX(15px);
			}

			&::before {
				transform: translateX(-115px);
			}
		}

		&__subtitle {
			padding-bottom: 3em;
			font-size: 1.2rem;
			letter-spacing: -0.1rem;
		}

		&__text-box {
			padding: 0 2.5em;
		}
	}

	// MAIN
	.main {
		.section {
			&__title {
				font-size: 1.3rem;
				&::after,
				&::before {
					width: 45px;
				}

				&::after {
					transform: translate(7px, 7px);
				}

				&::before {
					transform: translate(-50px, 7px);
				}
			}
		}
	}
}

// -------------------MEDIUM-------------------

@media (min-width: 768px) {
	// HEADER
	.header {
		&__title {
			font-size: 3rem;
			letter-spacing: -0.3rem;

			&::after,
			&::before {
				width: 130px;
			}

			&::after {
				transform: translateX(20px);
			}

			&::before {
				transform: translateX(-150px);
			}
		}

		&__subtitle {
			font-size: 1.4rem;
		}

		&__text-box {
			padding: 0 3.5em;
		}
	}

	// MAIN
	.main {
		.section {
			&__title {
				font-size: 1.5rem;
				&::after,
				&::before {
					width: 50px;
				}

				&::after {
					transform: translate(10px, 9px);
				}

				&::before {
					transform: translate(-60px, 9px);
				}
			}
		}
	}
}

// -------------------LARGE-------------------

@media (min-width: 992px) {
	// BODY
	body {
		grid-template-columns: 200px 1fr 200px;
	}

	// NAVIGATION
	.nav {
		&__links {
			justify-content: space-evenly;
			flex-direction: row;
			transform: translateX(0);
			height: 100%;
		}

		&__link {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
			padding: 0 0.1em;
		}

		&__btn {
			display: none;
		}
	}

	// HEADER
	.header {
		&__title {
			font-size: 4rem;
			letter-spacing: -0.4rem;

			&::after,
			&::before {
				width: 150px;
			}

			&::after {
				transform: translateX(30px);
			}

			&::before {
				transform: translateX(-180px);
			}
		}

		&__subtitle {
			font-size: 1.6rem;
		}

		&__text-box {
			padding: 0 1.5em;
		}

		&__text {
			font-size: 1.2rem;
			line-height: 1.3em;
		}
	}

	// ASIDE
	.aside {
		display: block;
		&__left {
			grid-column: 1/2;
		}

		&__right {
			grid-column: -2/-1;
		}
	}

	// MAIN
	.main {
		grid-column: 2/-2;

		.section {
			&__title {
				font-size: 1.7rem;
				&::after,
				&::before {
					height: 5px;
					width: 60px;
				}

				&::after {
					transform: translate(10px, 10px);
				}

				&::before {
					transform: translate(-70px, 10px);
				}
			}
		}
	}
}
